# Assignment No 4

Question 1

[] - Representing list with only parenthesis means blank list has been created and variable assigned will pointing to the list.

Question 2

In [5]:
spam=[2,4,6,8,10] # Assigning values to the variable spam
spam.insert(2,'hello') # insert 'hello' at third place in the list
spam

[2, 4, 'hello', 6, 8, 10]

Question 3

In [6]:
spam[int(int('3' * 2) / 11)]

6

Question 4

In [12]:
spam[-1]

10

Question 5

In [13]:
spam[:2]

[2, 4]

Question 6

In [28]:
bacon=[3.14, 'cat', 11, 'cat', True]

In [19]:
bacon.index('cat')

1

Question 7

In [29]:
bacon.append(99) # append 99 at the end of list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Question 8

In [30]:
bacon.remove('cat')  # remove 1st occurance of 'cat' in the list
bacon

[3.14, 11, 'cat', True, 99]

Question 9

In [35]:
list1=[342,343,234,'myname']
list2=['kp','raj','mayur',34]
print(list1+list2) # List concatenation operation by using concatenation operator
print(list1*2)     # List replication operation

[342, 343, 234, 'myname', 'kp', 'raj', 'mayur', 34]
[342, 343, 234, 'myname', 342, 343, 234, 'myname']

Question 10

In [36]:
list1.append('newvalue') # append value at the end of list
list1.insert(2,'newvalue')  # insert value at particular index specified

In [37]:
list1

[342, 343, 'newvalue', 234, 'myname', 'newvalue']

Question 11

In [39]:
list1

[342, 343, 'newvalue', 234, 'myname', 'newvalue']

In [40]:
list2

['kp', 'raj', 'mayur', 34]

In [41]:
list1.remove('myname') # 1st method to remove  value from list
list2.pop(1)           # 2nd method to remove value from list pop(index no of value to be removed)
print(list1)
print(list2)

[342, 343, 'newvalue', 234, 'newvalue']
['kp', 'mayur', 34]

Question 12

Values in list can be any data type and in case of string is denoted by its index number thats why both are indentical.

Question 13

Difference between tuples and list
tuples are enclosed in () whereas list enclosed in []
tuples are immutable whereas list is mutable.

Question 14

In [43]:
t1=(41) # tuple t1 have hold value as 41
t1

41

Question 15

In [47]:
mytuple=(32,123,'ram','sham',True,3+9j)
mylist=[98,'ram','john','micle',32,23+39j]
print("\nPrinting list values in tuple form")
print( tuple(mylist))
print("\nPrinting tuple values in list form")
print(list(mytuple))

Printing list values in tuple form
(98, 'ram', 'john', 'micle', 32, (23+39j))

Printing tuple values in list form
[32, 123, 'ram', 'sham', True, (3+9j)]

Question 16

In [50]:
list1=[4,342,634,4+10j,'mylist',[42,23,32],{324,321},(32,4)] # List can contain various data types
print(list1)

[4, 342, 634, (4+10j), 'mylist', [42, 23, 32], {321, 324}, (32, 4)]

Question 17

In [77]:
list1=[342,343,234,'myname']
list2=['kp','raj','mayur',34]
import copy
# Shallow copy
print("\nlist befor copy\n--------------------------------------------")
print("list 1 {}".format(list1))
print("list 2 {}".format(list2))
print("\nlist after perfroming shallo copy\n------------------------------------")
list2=copy.copy(list1)   # Assign list at other memory location
print('\nlist1 {}'.format(list1))
print('\nlist2 {}'.format(list2))
list2[0]=10000 
print('\nlist2 {}'.format(list2))
# Deepcopy

list1=copy.deepcopy(list2)
print("\nDeep Copy\n")
print('List1: {}\nList2: {}'.format(list1,list2))

list befor copy
--------------------------------------------
list 1 [342, 343, 234, 'myname']
list 2 ['kp', 'raj', 'mayur', 34]

list after perfroming shallo copy
------------------------------------

list1 [342, 343, 234, 'myname']

list2 [342, 343, 234, 'myname']

list2 [10000, 343, 234, 'myname']

Deep Copy

List1: [10000, 343, 234, 'myname']
List2: [10000, 343, 234, 'myname']

Note-The difference between shallow and deep copy is only relevant for compound objects (objects that contain other objects)

In [72]:
list1

[10000, 343, 234, 'myname']

In [73]:
list2

[10000, 343, 234, 'myname']